* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.suminfo {
    text-align: center;
    margin: 10px;
}

.counter {
    display: flex;
    align-items: baseline;
    height: 80px;
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    border: 1px dashed ;
    border-radius: 15px;
    background: lightsteelblue;
    gap: 3px;
}

.counter > * {
    height: 100%;
    flex: 1;
    font-size: 24px;
    border: none;
    border-radius: 20px;
}
.counter > button:hover {
    color: lightgreen;
    background: lightsalmon;
    border-radius: 25px;
    transition: 500ms;
}

.text-center {
    text-align: center;
    display: block;
}

.btn-add {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 15px;
}

.btn-add:hover {
    padding: 12px;
    background: lightgreen;
    transition: 500ms;
}
